<!doctype html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>后台登录-X-admin2.2</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport"
              content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
        <link rel="stylesheet" th:href="@{/css/font.css}">
        <link rel="stylesheet" th:href="@{/css/xadmin.css}">
        <script th:src="@{/lib/layui2.7.6/layui.js}" charset="utf-8"></script>
        <script src="/js/md5.js"></script>
        <script type="text/javascript" th:src="@{/js/pure-admin.js}"></script>
        <script>
            // 是否开启刷新记忆tab功能
            // var is_remember = false;
        </script>
        <style>
            iframe{
                border: none;
            }
        </style>
    </head>
    <body class="index">
        <div id="app">
        <!-- 顶部开始 -->
        <div class="container">
            <div class="logo">
                <a href="/admin">大学生平时成绩计算系统</a></div>

            <div class="left_open">
                <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
            </div>
            <ul class="layui-nav left fast-add" lay-filter="">
            </ul>
            <ul class="layui-nav right" lay-filter="">
                <li class="layui-nav-item">
                    <a href="javascript:;">admin</a>
                    <dl class="layui-nav-child">
                        <!-- 二级菜单 -->
                        <dd>
                            <a onclick="xadmin.open('个人信息','http://www.baidu.com')">个人信息</a></dd>
                        <dd>
                            <a onclick="xadmin.open('切换帐号','http://www.baidu.com')">切换帐号</a></dd>
                        <dd>
                            <a href="/admin/login" onclick="document.cookie=`token=`">退出</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item to-index">
                    <a href="/">前台首页</a></li>
            </ul>
        </div>
        <!-- 顶部结束 -->
        <!-- 中部开始 -->
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav">
                    <li th:each="item:${router}">
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" th:lay-tips="${item.routerName}">&#xe6b8;</i>
                            <cite th:text="${item.routerName}"></cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li th:each="subItem:${item.children}">
                                <a th:onclick="xadmin.add_tab([[${subItem.routerName}]],[[${subItem.routerPath}]])">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite th:text="${subItem.routerName}"></cite>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="成绩管理">&#xe6b8;</i>
                            <cite>成绩管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('成绩管理','./score_list')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>成绩管理</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('学生管理','./student_list')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>学生管理</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('课程管理','./course_list')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>课程管理</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('专业管理','./major_list')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>专业管理</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('教师管理','./teacher_list')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>教师管理</cite></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="系统管理">&#xe726;</i>
                            <cite>系统管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('用户列表','./admin-list')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>用户列表</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('角色管理','./admin-role')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>角色管理</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('权限分类','./admin-cate')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>权限分类</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.open('系统接口','/doc.html','','',true)">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>系统接口</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('日志','./log')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>日志</cite></a>
                            </li>
                        </ul>
                    </li>-->

                </ul>
            </div>
        </div>
        <!-- <div class="x-slide_left"></div> -->
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
            <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
                <ul class="layui-tab-title">
                    <li class="home">
                        <i class="layui-icon">&#xe68e;</i>我的桌面</li></ul>
                <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
                    <dl>
                        <dd data-type="this">关闭当前</dd>
                        <dd data-type="other">关闭其它</dd>
                        <dd data-type="all">关闭全部</dd></dl>
                </div>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe th:src='@{./welcome}'  class="x-iframe"></iframe>
                    </div>
                </div>
                <div id="tab_show"></div>
            </div>
        </div>
        <div class="page-content-bg"></div>
        <!-- 右侧主体结束 -->
        <!-- 中部结束 -->
        </div>
        <style id="theme_style"></style>
        <script type="module" >
            import { createApp } from '/lib/vue.esm-browser.js'
            const app=createApp({
                data:() => ({ count: 1 })
            })
            app.mount("#app")
        </script>
    </body>

</html>