<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/lib/layui2.7.6/layui.js" charset="utf-8"></script>
    <script type="module" src="/lib/xy-ui/index.js">
    </script>
</head>
<body>
<div v-scope>
    <div style="margin: 20px;">
        <xy-input placeholder="请输入搜索的内容"></xy-input>
        <xy-button type="primary">搜索</xy-button>
        <xy-button onclick="openStudentAdd()">添加用户</xy-button>
        <xy-button>批量删除</xy-button>
        <xy-button>批量导入</xy-button>
    </div>
    <xy-table thead="选择,学号,学生姓名,性别,入学时间,专业,操作"
              @vue:mounted="getStudentList()">
        <xy-tr v-for="(item,index) in studentListData" :key="index">
            <xy-td>
                <xy-checkbox></xy-checkbox>
            </xy-td>
            <xy-td>{{item.stuId}}</xy-td>
            <xy-td>{{item.stuName}}</xy-td>
            <xy-td>{{item.stuSex}}</xy-td>
            <xy-td>{{item.stuDate}}</xy-td>
            <xy-td>{{item.stuMajorId}}</xy-td>
            <xy-td>
                <xy-button @click="openStudentEdit(item)">编辑</xy-button>
                <xy-button type="danger">删除</xy-button>
            </xy-td>
        </xy-tr>
    </xy-table>
    <div style="display: flex;justify-content: center;margin-top: 20px">
        <xy-pagination pagesize="3" total="50"></xy-pagination>
    </div>
</div>
<script src="/lib/petite-vue.iife.js"></script>
<script>
    function openStudentEdit(item) {
        console.log(item)
        layer.open({
            type: 2,
            title: '编辑学生信息',
            shadeClose: true,
            shade: 0.3,
            maxmin: true, //开启最大化最小化按钮
            area: ['600px', '400px'],
            content: `/student_edit?stuId=${item.stuId}&stuName=${item.stuName}&stuSex=${item.stuSex}&stuDate=${item.stuDate}&stuMajorId=${item.stuMajorId}`
        });
    }

    function openStudentAdd() {
        layer.open({
            type: 2,
            title: '添加学生',
            shadeClose: true,
            shade: 0.3,
            maxmin: true, //开启最大化最小化按钮
            area: ['600px', '400px'],
            content: '/student_add'
        });
    }

    const studentListData = PetiteVue.reactive([])
    PetiteVue.createApp({
        studentListData
    }).mount()

    function getStudentList() {
        fetch("/student/list")
            .then(res => {
                return res.json()
            })
            .then(data => {
                studentListData.push(...data.data)
            })
    }

</script>
</body>
</html>